## Identify Data Types

In [1]:
a = 23
a

23

In [2]:
type(a)

int

In [3]:
b = 24.6
type(b)

float

In [4]:
a = "24"
type(a)

str

In [5]:
type(23)

int

In [6]:
type(True)

bool

In [7]:
type(False)

bool

In [8]:
a= False
type(a)

bool

In [9]:
name = "Talha Javaid Malik"
print(name)

Talha Javaid Malik

In [10]:
#           0        1      2       3     4
names = ['Talha','Javaid','Malik', 7.1, True] 
#          -5      -4       -3      -2   -1
type(names)

list

In [11]:
# Tuples
# immutable

t1 = (2, "Talha", "Javaid")
type(t1)

tuple

In [12]:
# Dictionary

d1 = {"name": "Talha",
     "fname": "Javaid"}
type(d1)

dict

In [13]:
# Sets
a = {"A" , "A", "C", "B" , "A"}
a

{'A', 'B', 'C'}

In [14]:
type(a)

set

'A'