https://docs.python.org/3/tutorial/introduction.html#lists

In [2]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [3]:
print(squares)

[1, 4, 9, 16, 25]

In [4]:
squares[0]

1

In [5]:
squares[-1]

25

In [6]:
squares [:]

[1, 4, 9, 16, 25]

In [7]:
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [8]:
squares

[1, 4, 9, 16, 25]

In [9]:
cubes = [1, 8, 27, 65, 125]  # something's wrong here
4 ** 3  # the cube of 4 is 64, not 65!

64

In [10]:
cubes[3] = 64

In [11]:
cubes

[1, 8, 27, 64, 125]

In [12]:
cubes.append(216) # add the cube of 6

In [13]:
cubes.append(7 ** 3) # add the cube of 7

In [14]:
cubes

[1, 8, 27, 64, 125, 216, 343]

In [15]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [16]:
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [17]:
# replace some values
letters[2:5] = ['C','D','E']
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [18]:
# now remove them
letters[2:5] = []
letters

['a', 'b', 'f', 'g']

In [19]:
# clear the list by replacing all the elements with an empty list
letters[:] = []
letters

[]

The built-in function len() also applies to lists:

In [21]:
letters = ['a', 'b', 'c' ,'d']
len(letters)

4

It is possible to nest lists (create lists containing other lists), for example:

In [22]:
a = ['a','b', 'c']
n = [1,2,3]
x = [a,n]
x

[['a', 'b', 'c'], [1, 2, 3]]

In [23]:
x[0]

['a', 'b', 'c']

In [24]:
x[0][1]

'b'

### 3.2. First Steps Towards Programming

In [25]:
# Fibonacci series

In [26]:
# the sum of two elements defines the next
a,b = 0,1
while a < 10:
    print(a)
    a,b = b, a+b

0
1
1
2
3
5
8

In [27]:
i = 256*256
print('The value of i is', i)

The value of i is 65536

Since ** has higher precedence than -, -3power2 will be interpreted as -(3power2) and thus result in -9. To avoid this and get 9, you can use (-3)power2.







Unlike other languages, special characters such as \n have the same meaning with both single ('...') and double ("...") quotes. The only difference between the two is that within single quotes you donâ€™t need to escape " (but you have to escape \') and vice versa.